.userInfo {
  display: flex;
  gap: 16px;
  justify-content: flex-end;
  padding-left: 20px;
  @media (max-width: 767px) {
    width: 100%;
    height: 40px;
    background-color: rgba(239, 241, 243, 1);
    align-items: center;
    padding-left: 0;
    padding-right: 16px;
    margin-top: 16px;
  }
}
.userName {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  color: #212121;
}
.userExit {
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  letter-spacing: 0.04em;
  padding-left: 16px;
  border-left: 2px solid rgba(224, 224, 224, 1);
  color: rgba(155, 159, 170, 1);
}

a {
  text-decoration: none;
}
