.singleSpan {
  display: flex;
  gap: 30px;

  justify-content: center;
  align-items: center;
}

.titleProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  // padding-bottom: 6px;
  height: 40px;
  color: #212121;
  width: 240px;
  display: inline-flex;
  align-items: center;
  @media screen and (min-width: 768px) {
    width: 240px;
  }
  @media screen and (min-width: 1280px) {
    width: 240px;
  }
}
.weightProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  height: 40px;
  // padding-bottom: 6px;
  color: #212121;
  width: 49px;
  text-align: right;
  display: inline-flex;
  text-align: right;
  align-items: center;
  justify-content: right;
  @media screen and (min-width: 768px) {
    width: 107px;
    text-align: right;
  }
  @media screen and (min-width: 1280px) {
    width: 107px;
    text-align: right;
  }
}
.kcalProduct {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  // padding-bottom: 6px;
  color: #212121;
  width: 58px;
  text-align: right;
  height: 40px;
  display: inline-flex;
  justify-content: right;
  align-items: center;
  @media screen and (min-width: 768px) {
    align-items: right;
    width: 107px;
    text-align: right;
  }
  @media screen and (min-width: 1280px) {
    align-items: right;
    width: 107px;
    text-align: right;
  }
}
.liProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  align-items: center;
  // border-bottom: 1px solid #e0e0e0;
  // padding-bottom: 6px;
  color: #212121;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  //   @media screen and (min-width: 768px) {
  //     display: flex;
  //     align-items: center;
  //     margin-top: 53px;
  //     padding-top: 0;
  //     padding-left: 32px;
  //     padding-right: 0;
  // }

  // @media screen and (min-width: 1280px) {
  //     margin-top: 60px;
  //     padding-left: 16px;
  // }
}

.btnProduct {
  border-style: none;
  background-color: #e0e0e0;
  // border-radius: 50%;
}

.iconProduct {
  color: #9b9faa;
  width: 20px;
  height: 20px;
}

.liProduct {
  list-style: none;
  margin-bottom: nth-child(10px);
}
// .DivCtnterd {
//     padding: 30px 0;
//     display: flex;
//     justify-content: center;
// }
// .icon {
//     width: 20px;
//     height:20px;
// }

// .FieldProduct {
//     position: relative;
//     width: 100%;

//     @media screen and (min-width: 768px) {
//         margin-right: 22px;
//         width: 240px;
//     }
// }

// .FieldWeight {
//     position: relative;
//     width: 100%;
//     margin-top: 32px;

//     @media screen and (min-width: 768px) {
//         margin-top: 0;
//         margin-right: 67px;
//         width: 107px;
//     }

//     @media screen and (min-width: 1280px) {
//         margin-right: 60px;
//     }
// }

// .Label {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     transition: 250ms cubic-bezier(0.4, 0, 0.2, 0.3);
//     font-family: 'Verdana';
//     font-weight: 700;
//     font-size: 14px;
//     line-height: 17px;
//     letter-spacing: 0.04em;
//     color: #9b9faa;
// }

// .Input {
//     display: inline-block;
//     height: 48px;
//     width: 100%;
//     border: none;
//     border-bottom: 1px solid #e0e0e0;
//     color: #212121;
//     outline: none;

//     &:hover,
//     &:focus {
//         border-color: #fc842d;
//     }

//     &:focus~label,
//     &:valid~label {
//         top: 0px;
//     }

//     &::-webkit-outer-spin-button,
//     &::-webkit-inner-spin-button {
//         -webkit-appearance: none;
//         margin: 0;
//     }

//     &[type='number'] {
//         -moz-appearance: textfield;
//     }
// }

// .LabelWeight {
//     left: 0;

//     @media screen and (min-width: 768px) {
//         left: auto;
//         right: 0;
//     }
// }

// .LabelTitle {
//     left: 0;
// }

// .InputWeight {
//     @media screen and (min-width: 768px) {
//         text-align: right;
//     }

//     text-align: left;
// }

// .button {
//     margin-top: 0;
//     padding: 0px;
//     width: 48px;
//     height: 48px;
//     background-color: #fc842d;
//     color: #ffffff;
//     border: none;
//     border-radius: 50%;
//     box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.3);
//     outline: none;
//     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 0.3),
//         color 250ms cubic-bezier(0.4, 0, 0.2, 0.3);
//     cursor: pointer;

//     &:enabled:hover,
//     &:enabled:focus {
//         color: #fc842d;
//         background-color: #ffffff;
//         border: 2px solid #fc842d;
//         box-shadow: none;
//     }

//     &:disabled {
//         background-color: #fc842d50;
//         box-shadow: none;
//     }

//     & svg {
//         fill: currentColor;
//     }
// }

// .filteredList {
//     z-index: 10;
//     position: absolute;
//     background-color: #ffffff;

//     width: 100%;

//     @media screen and (min-width: 768px) {
//         width: 630px;
//     }

//     li {
//         width: 100%;
//     }

//     button {
//         padding: 8px;
//         border: none;
//         width: 100%;

//         color: #deb887;
//         background-color: transparent;
//         text-align: left;
//         cursor: pointer;
//         outline: none;
//         transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
//     }

//     button:focus,
//     button:hover {
//         color: #fc842d;
//     }
// }

// .buttonAdd {
//     @media screen and (min-width: 768px) {
//         display: none;
//     }

//     display: block;
//     margin-right: auto;
//     margin-left: auto;
//     margin-top: 80px;
//     width: 176px;
//     height: 44px;
//     border-radius: 22px;
// }

// .buttonIcon {
//     @media screen and (max-width: 767px) {
//         display: none;
//     }
// }
