.titleProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  color: #212121;
}
.weightProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  color: #212121;
}
.kcalProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  color: #212121;
}
.liProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 6px;
  color: #212121;
}

.btnProduct {
  border-style:none;
  /* border-radius: 50%;
  background-color: #fc842d; */
}
