.userInfo {
    color: black;
}

.userInfoTitle {
    color: 212121;
}

.userInfoList {
    color: 9B9FAA;
}
.userInfoItem {
    color: 9B9FAA;
}

.userInfoData {
    color: 9B9FAA;
}

.userInfoDescription {
    color: 9B9FAA;
}