.calculatorPage {
  display: flex;
  flex-direction: column;
    
  @media screen and (min-width: 768px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    flex-direction: row;
  }
}
