:root {
  --primary-color: #e5e5e5;
  --primary-text-color: #212121;
  --second-text-color: #9b9faa;
  --accent-text-color: #fc842d;

  //Бекграунд
  --page--bg-color: #e5e5e5;
  --modal-bg-color: #9b9faa;
  --footer-bg-color: #f0f1f3;

  //Кнопка
  --active-btn-color: #fc842d;
  --btn-text-unactive-color: #fc842d;
  --btn-text-active-color: #ffffff;
  --btn-unactive-color: #ffffff;
  --btn-box-shadow: rgba(252, 132, 45, 0.5);
  --btn-hover-shadow: rgba(0, 0, 0, 0.25);

  //Модал
  --modal-primary-color: #212121;
  --modal-text-color: #9b9faa;
  --accent-modal-color: #264061;

  // Инпут для реєстрації: бордер, тінь
  --input-box-shadow: rgba(158, 158, 158, 0.25);
  --input-label-text-color:  #9b9faa;
  --input-activetext-color: rgba(33, 37, 41, 0.8);
  --input-border-color: #bdbdbd;
  --input-border-unactive: #e0e0e0;
  --input-bgcolor-white: #ffffff;


  //Для анімації
  --typical-hover-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --btn-hover-transform: 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
