.diaryPage{
    display: flex;
    flex-direction: column;
    
    @media screen and (min-width: 768px) {
display: flex;
flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: column;
}
}
