.navigationMenu {
  display: flex;
  gap: 24px;
  align-items: center;
  /* margin-left: 20px; */
  @media (min-width: 1200px) {
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-left: 2px solid rgba(224, 224, 224, 1);
  }
}

.navigationLink {
  text-decoration: none;
  font-family: 'Verdana';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #9b9faa;
}

.active {
  // composes: navigationLink;
  color: #212121;
  cursor: pointer;
}
