.navigationMenu {
  display: flex;
  gap: 24px;
  align-items: center;
}

.navigation {
  @media (min-width: 1280px) {
    border-left: 2px solid rgba(224, 224, 224, 1);
    padding-left: 20px;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.navigationLink {
  text-decoration: none;
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: #9b9faa;
}

.active {
  color: #212121;
  cursor: pointer;
}

/* добавила стилі модалки */

.menu {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 28px;
  gap: 30px;
  position: relative;
}

.mobile_btn {
  display: none;
}

@media (max-width: 768px) {
  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: flex-start;
    position: fixed;
    left: -100%;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #264061;
    color: #9b9faa;
    font-size: 24px;
    z-index: 10;
    transition: left 1s;
  }

  .activeNav {
    left: 0;
    color: #ffffff;
  }

  .menu a {
    font-size: 24px;
  }
}

@media (max-width: 320px) {
  .menu a {
    font-size: 18px;
  }
}

.mobile_btn {
  display: none;
}

@media (max-width: 768px) {
  body {
    overflow-y: hidden ;
  }
  .mobile_btn {
    display: block;
    position: absolute;
    right: 10px;
    top: 27px;
    cursor: pointer;
    z-index: 10;
  }

  .menu {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    justify-content: flex-start;
    position: fixed;
    left: -100%;
    right: 0;
    top: 80px;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-color: #264061;
    color: #9b9faa;
    font-size: 24px;
    z-index: 10;
    transition: left 1s;
  }

  .activeNav {
    left: 0;
    color: #ffffff;
  }

  .menu a {
    font-size: 24px;
  }

  @media (max-width: 320px) {
    .menu a {
      font-size: 18px;
    }
  }
}
