.navigationMenu{
    display:flex;
    gap: 24px;
    align-items: center;
    margin-left: 20px;
}

.navigationLink {
    text-decoration: none;
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    
    color: #9B9FAA;
}

.active {
    composes: navigationLink;
    color:  #212121;
    cursor: pointer;
}