.FormDiv {
  width: 100%;
  min-width: 280px;
  @media screen and (min-width: 768px) {
    width: 100%;
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
  }
  @media screen and (min-width: 1280px) {
    width: 763px;
    display: inline-flex;
    justify-content: left;
    flex-direction: column;
  }
}

.Form {
  padding-top: 80px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 53px;
    padding-top: 0;
    padding-left: 32px;
    padding-right: 0;
    display: inline-flex;
    justify-content: left;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 60px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
  }

  align-items: center;
}

.inputProductTwo {
  display: flex;
  flex-direction: column;
  padding-right: 20px;
  gap: 20px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-top: 60px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    gap: 48px;
    margin-top: 60px;
  }
}
.inputProduct {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-style: none;
  border-bottom: 1px solid #e0e0e0;
  width: 240px;
  height: 36px;
  @media screen and (min-width: 768px) {
    weight: 240px;
    height: 36px;
  }
  @media screen and (min-width: 1280px) {
    width: 280px;
    height: 36px;
  }

  .inputProduct::placeholder {
    width: 280px;
    @media screen and (min-width: 768px) {
      weight: 107px;
    }
    @media screen and (min-width: 1280px) {
      weight: 107px;
    }
  }
}

.inputProduct:focus,
.inputProduct:hover {
  outline: 0;
  border: 2px solid var(--btn-text-unactive-color);
  border-radius: 5px;
  transition: transform var(--btn-hover-transform);
  transform: scale(1.1);
}

.inputGrams {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  border-style: none;
  border-bottom: 1px solid #e0e0e0;
  display: inline-flex;
  justify-content: left;
  width: 107px;
  height: 36px;
  @media screen and (min-width: 320px) {
    display: inline-flex;
    justify-content: left;
    width: 240px;
    height: 36px;
    padding-right: 10px;
  }

  @media screen and (min-width: 768px) {
    display: inline-flex;
    justify-content: left;
    height: 36px;
    padding-right: 10px;
    width: 107px;
  }
  @media screen and (min-width: 1280px) {
    display: inline-flex;
    justify-content: left;
    height: 36px;
    padding-right: 10px;
    width: 107px;
  }
}
.inputGrams:focus,
.inputGrams:hover {
  outline: 0;
  border: 2px solid var(--btn-text-unactive-color);
  border-radius: 5px;
  transition: transform var(--btn-hover-transform);
  transform: scale(1.1);
}

.inputGrams::placeholder {
  text-align: left;
  width: 280px;
  @media screen and (min-width: 768px) {
    text-align: right;
    width: 107px;
    padding-right: 10px;
  }
  @media screen and (min-width: 1280px) {
    text-align: right;
    width: 107px;
    padding-right: 10px;
  }
}
///
.inputForm {
  width: 280px;
  height: 36px;

  text-align: start;
  font-size: 14px;
  font-weight: 700;
  line-height: calc(17 / 14);
  letter-spacing: 0.04em;

  border: none;
  border-bottom: 1px solid var(--input-border-unactive);

  color: var(--input-label-text-color);

  @media (min-width: 768px) {
    width: 240px;
  }
}

//
.inputForm:focus,
.inputForm:hover {
  outline: 0;
  box-shadow: 0 0 0 0.2rem var(--input-box-shadow);
  color: var(--input-activetext-color);
  background-color: var(--input-bgcolor-white);
  border-color: var(--input-border-color);
}
///

.btnAddProduct {
  transition: transform var(--btn-hover-transform),
    box-shadow var(--typical-hover-transition);
  border-style: none;
  border-radius: 30px;
  background-color: #fc842d;
  // width: 240px;
  // height: 100%;
  padding: 13px 46px;
  color: var(--input-bgcolor-white);
  @media screen and (min-width: 768px) {
    border-style: none;
    border-radius: 50%;
    background-color: #fc842d;
    width: 100%;
    height: 100%;
    padding: 5px;
    padding-bottom: 2px;
  }
  @media screen and (min-width: 1280px) {
    border-style: none;
    border-radius: 50%;
    background-color: #fc842d;
    width: 100%;
    height: 100%;
    padding: 0;
  }
}
.btnAddProduct:hover,
.btnAddProduct:focus {
  box-shadow: 0px 4px 4px var(--btn-hover-shadow);
  transform: scale(1.1);
}

.btnAddProductMob {
  transition: transform var(--btn-hover-transform),
    box-shadow var(--typical-hover-transition);
  border-style: none;
  border-radius: 50%;
  background-color: #fc842d;
  padding: 5px;
  padding-bottom: 2px;
}

.btnAddProductMob:hover,
.btnAddProductMob:focus {
  box-shadow: 0px 4px 4px var(--btn-hover-shadow);
  transform: scale(1.1);
}

.divAddProduct {
  margin: 60px auto;
  @media screen and (min-width: 768px) {
    margin: 0 auto;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
}

.iconAddProduct {
  color: #e0e0e0;
  width: 18px;
  height: 18px;
}

.MuiStack-root.css-1xhypcz-MuiStack-root {
  overflow: hidden !important;
  @media screen and (min-width: 768px) {
    overflow: hidden !important;
  }
  @media screen and (min-width: 1280px) {
    overflow: hidden !important;
  }
}

:global .MuiStack-root {
  overflow: hidden;
  border-style: none;
}
