.recBackdrop {
  position: fixed;
  top: 65px;
  width: 100%;
  height: 100%;
  pointer-events: auto;
  background: rgba(239, 241, 243, 0.5);
  transition: opacity 150ms liner, visibility 150ms liner;
  z-index: 300;
}

.recModal {
  // margin-top: 40px;
  padding-top: 80px;
  padding-bottom: 119px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  width: 100%;
  min-width: 280px;
  min-height: 637px;
  background-color: #ffffff;
  z-index: 301;
  border: 1px solid #e0e0e0;
  position: absolute;
  transition: transform 150ms liner;

  @media (min-width: 768px) {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    padding-top: 64px;
    padding-bottom: 80px;
    padding-left: 82px;
    padding-right: 82px;
    width: 672px;
    min-height: 572px;
  }
}

.recModalEl {
  width: 100%;
  height: 40px;
  background-color: #eff1f3;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.closeBtn {
  position: absolute;
  border: none;
  left: 20px;
  top: 15px;
  background-color: transparent;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    right: 20px;
    top: 17px;
    left: auto;
  }
}

.recTitle {
  font-weight: 700;
  max-width: 508px;
  font-size: 18px;
  line-height: 1.4;
  align-items: center;
  text-align: center;
  color: #212121;
  margin-bottom: 42px;

  @media (min-width: 768px) {
    font-size: 26px;
    line-height: 1.4;
    margin-bottom: 32px;
    padding-left: 51px;
    padding-right: 51px;
  }
}

.recElText {
  color: #264061;
  text-align: center;
  margin-bottom: 32px;
  // margin-top: 80px;
}

.recEl {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  align-items: center;
  color: #264061;
  margin-right: 5px;
}

.recContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recText {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  // text-align: left;
  color: #212121;
  margin-bottom: 20px;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  // margin-left: 171px;

}

.recList {
  display: flex;
  flex-direction: column;
  gap: 14px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 40px;
  align-items: flex-start;
  padding-left: 15px;
}

.recItem {
}

.btnSubmit {
  padding: 13px 25px;
  border-radius: 30px;
  background-color: #fc842d;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  outline: none;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  color: #ffffff;
  border: none;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.btnSubmit:hover,
.btnSubmit:focus {
  background-color: transparent;
  border: 2px solid #fc842d;
  color: #fc842d;
}
