@import '../node_modules/modern-normalize/modern-normalize.css'; /* bring in normalize.css styles */

@import '../src/styles/container';
@import '../src/styles/vars';
@import '../src/styles/btn';

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
  font-family: inherit;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--second-text-color);
  background-color: var(--page-bg-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  cursor: url('./img/cursor-ice.png'), auto;
}


